<div class="card-container  shadow-box">
    <div class="card-logo">
        <app-logo-white logoWidth="120" />
    </div>

    <div class="card-middle">
        <img src="../../../assets/chip.png" alt="chip" srcset="" width="60px">
        <div>
            <p>XXXX</p>
            <p>XXXX</p>
            <p>XXXX</p>
            <p>0123</p>
        </div>
    </div>
    <div class="card-footer">
        <div class="card-name">
            <p>Francisca J A Silva</p>
        </div>
        <div class="card-account">
            <p>Ag 0001</p>
            <p>CC 000000-1</p>
        </div>
    </div>

    <div class="card-limit">
        <p>Limite: 1.250,00 R$</p>
    </div>
</div>